fastapi==0.127.0
uvicorn==0.38.0
pydantic==2.12.3
typer
google-cloud-spanner
google-cloud-bigquery
google-cloud-spanner==3.47.0
pydantic-settings==2.11.0
google-cloud-bigquery-storage ==2.36.0 
typer== 0.21.0
email-validator==2.1.2